.action-container {
	background-color: var(--highlight-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: fit-content;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.action-img {
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 5%;
	width: 80vw;
	display: flex;
	justify-content: space-between;
}

.action-text {
	color: var(--default-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.section-title {
	font-size: 4rem;
	letter-spacing: 4.7px;
	color: var(--default-color);
}

.section-sub {
	font-size: 1.25rem;
	letter-spacing: 7.5px;
	color: var(--secondary-color);
	font-family: var(--secondary-font-family);
}

.section-text {
	font-size: 1.125rem;
	margin-top: 3rem;
	line-height: var(--lh-mid);
	max-width: 650px;
	border: 1px solid var(--secondary-color);
	padding: 15px;
}

.section-text-special {
	display: block;
	font-size: 1.25rem;
	font-style: italic;
	margin-top: 1rem;
}

.phone-img {
	filter: invert();
	position: relative;
	top: 1.5vh;
	right: 1.5vw;
}

.location-img {
	filter: invert();
	position: relative;
	right: 1.5vw;
}

.contact {
	border: none;
}

.action-title {
	width: 50vw;
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 600px) {
	.section-title {
		font-size: 3.5rem;
	}

	.section-text {
		font-size: 1rem;
		line-height: var(--lh-big);
		padding-inline: 0.5rem;
	}
}
