.gallery-container {
	border: 2px solid var(--secondary-color);
	border-left: none;
	border-right: none;
	background-color: var(--highlight-color);
	display: flex;
	flex-direction: row;
	transition-timing-function:linear!important; 
}

.gallery-img {
	z-index: -1;
	height: 100%;
	width: 100%;
	transition: 0.1s;
}

.gallery-img-container {
	border-right: 3px solid var(--secondary-color);
}

.gallery-img:hover {
	transform: scale(1.1);
}


/* RESPONSIVENESS */

@media only screen and (max-width: 950px) {
	.gallery-img {
		padding-right: 8%;
		width: 100%;
		object-fit: cover;
	}

	.gallery-container {
		display: flex;
		flex-direction: row;
	}
}
