.hero-container {
	height: 100dvh;
	width: 100dvw;
	background-color: rgb(83, 79, 79);
	background-blend-mode: multiply;
	background:
		url(../assets/thumbnail_image001.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	color: white;
	text-align: center;
	transition: 0.25s;
	animation: chbg 30s ease infinite alternate;
}

@keyframes chbg {
	0% {
		background:
		url(../assets/thumbnail_image001.jpg);
		background-color: rgb(83, 79, 79);
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-position: right;
		background-size: cover;
	}
	20% {
		background:
		url(../assets/thumbnail_image002.jpg);
		background-color: rgb(83, 79, 79);
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-position: right;
		background-size: cover;
	}
	40% {
		background:
		url(../assets/thumbnail_image003.jpg);
		background-color: rgb(83, 79, 79);
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-position: right;
		background-size: cover;
	}
	60% {
		background:
		url(../assets/thumbnail_image004.jpg);
		background-color: rgb(83, 79, 79);
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-position: right;
		background-size: cover;
	}
	80% {
		background:
		url(../assets/thumbnail_image005.jpg);
		background-color: rgb(83, 79, 79);
		background-blend-mode: multiply;
		background-attachment: fixed;
		background-position: right;
		background-size: cover;
	}
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.hero-text-header {
	font-family: var(--tertiary-font-family);
	font-size: 5.25em;
	letter-spacing: var(--ls-big);
}

.hero-text-title {
	font-family: var(--secondary-font-family);
	font-size: 8rem;
	margin-bottom: 2.25rem;
	margin-top: 1.25rem;
}

.hero-description {
	background: rgba(0, 0, 0, 0.15);
	font-size: 1.125rem;
	letter-spacing: var(--ls-sm);
	line-height: var(--lh-mid);
	max-width: 650px;
}

@media screen and (max-width: 925px) {
	.hero-container {
		background-size: cover;
	}
}

@media screen and (max-width: 600px) {
	.hero-text-header {
		font-size: 1.75em;
		letter-spacing: var(--ls-mid);
	}

	.hero-text-title {
		font-size: 5rem;
	}

	.hero-description {
		font-size: 1rem;
		line-height: var(--lh-big);
		padding-inline: 0.5rem;
	}
}
