.menu-container {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
		url(../assets/thumbnail_image003.jpg);
	display: flex;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	padding: 75px 0;
}

#separator-menu {
	border: 1px solid var(--secondary-color);
	height: fit-content;
	width: 25vw;
	position: relative;
	top: .75rem;
	left: .75rem;
	filter: opacity(0.4);
}

.item-price {
	color: var(--secondary-color);
	position: relative;
	top: .75rem;
	margin-left: 1.25rem;
	font-size: 1.5em;
}

.item-title-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#plats-jour {
	width: 45vw;
	display: flex;
	justify-content: space-between;
}

#plats-jour img {
	filter: saturate(25%);
	height: 10%;
	width: 8vw;
}


.modal-close-container {
	filter: invert();
}

.menu-box {
	border: 3px solid var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(19, 29, 33, 0.95);
	padding: 50px;
}

.menu-img {
	position: relative;
	top: 20%;
}

.menu-item-modal {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: .75rem;
	margin-bottom: .75rem;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu-title {
	color: var(--tertiary-font-color);
	font-size: 2.75rem;
	font-family: var(--secondary-font-family);
	font-weight: 600;
}

.item-title {
	color: var(--tertiary-font-color);
	font-size: 1.5rem;
	font-family: var(--secondary-font-family);
	letter-spacing: var(--ls-sm);
	margin-top: 1.5rem;
}

.item-subtitle {
	color: var(--highlight-color);
	font-weight: 700;
	font-style: italic;
}

.item-description {
	color: var(--secondary-color);
	line-height: var(--lh-mid);
	margin-top: 0.5rem;
	max-width: 90%;
}

@media screen and (max-width: 600px) {
	.menu-title {
		font-size: 2rem;
	}
}
